misc/

# MC Run dirs
run/

# Gradle
.gradle/
build/

bin/
libs/

# IntelliJ
out/
.idea/
*.iml
*.ipr
*.iws

output/

# Eclipse
.classpath
.project
classes/
.metadata

# VSCode
.vscode
.settings
*.launch